*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#f5f7fa;

color:#1f2937;

}

header{

background:#153a5b;

color:white;

padding:20px;

}

.container{

width:90%;

max-width:1200px;

margin:auto;

}

header .container{

display:flex;

justify-content:space-between;

align-items:center;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

font-weight:600;

}

.hero{

padding:80px 20px;

text-align:center;

background:white;

}

.hero h2{

font-size:48px;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:30px;

}

.button{

background:#f57c00;

padding:15px 30px;

color:white;

text-decoration:none;

border-radius:10px;

font-weight:bold;

display:inline-block;

}

.card{

padding:60px 20px;

}

.card .container{

background:white;

padding:40px;

border-radius:16px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

footer{

margin-top:80px;

background:#153a5b;

color:white;

padding:30px;

text-align:center;

}
